/KnxAutomationDaemon/target/
/KnxAutomationDaemon/conf/*
/plugin-projects/logicplugin/target/
/KnxAutomationDaemon-Dist/target/
/KnxAutomationDaemon/compiledScripts/
/KnxAutomationDaemon/plugins/*
/KnxAutomationDaemon/plugins/
/KnxAutomationDaemon-PluginAssemblyDescriptor/target/
/KnxAutomationDaemon-AssemblyDescriptors/target/