/KnxAutomationDaemon/target/
/KnxAutomationDaemon/conf/*
/plugin-projects/logicplugin/target/
/KnxAutomationDaemon-Dist/target/
/KnxAutomationDaemon/compiledScripts/
/KnxAutomationDaemon/plugins/*
/KnxAutomationDaemon/plugins/
/KnxAutomationDaemon-PluginAssemblyDescriptor/target/
/KnxAutomationDaemon-AssemblyDescriptors/target/
/plugin-projects/cvbackend/target/
/plugin-projects/knxcache/target/
/plugin-projects/knxservice/target/
/deploy.sh